<h1>Hello world</h1>
<nav>
  <ul routerLink="item/2">item</ul>
</nav>

<router-outlet></router-outlet>
<input matInput  #input type="text">

<button (click)="setSignal(input.value)" mat-button>Set signal</button>
<button (click)="updateSignal(input.value)" mat-button>Update signal</button>
<button (click)="emitSubject(input.value)" mat-button>Emit subject</button>

<br>
<hr>

<h1>Writable Signal: {{mySignal()}}</h1>
<h1>Computed Signal: {{computerSignal()}}</h1>

<hr>

<h1>Obs to signal: {{obsToSignal()}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur distinctio ducimus itaque porro quam. Deserunt facere nesciunt officia omnis possimus, sequi voluptates? Animi eos nam officia pariatur possimus, similique?</p>

<hr>
@for (todo of (myData$ | async); track todo.id) {
  @defer (on viewport) {
    <app-item [todo]="todo"></app-item>
  } @placeholder {
    <p>temp</p>
  }
} @empty {
  <i>List is empty</i>
}
