<!-- <header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
          src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" data-pin-nopin="true">
      </a>
    </li>
    <li>
      <a>Inputs</a>
    </li>
  </ul>
</header>

<body>
  <div class="container">

    <div class="form-row">
      <label>Normal Input:</label>
      <input class="normal-input" type="email" name="email" placeholder="E-mail">
    </div>

    <div class="form-row">
      <label>Email:</label>
      <app-input-lib id="email-field" icon="far fa-envelope">
        <input class="normal-input" type="email" name="email" placeholder="Email" autocomplete="off" class="test-class">
      </app-input-lib>
    </div>

    <div class="form-row">
      <label>Password:</label>
      <app-input-lib id="password-field" icon="fas fa-lock">
        <input class="normal-input" type="password" placeholder="Password" class="test-class">
      </app-input-lib>
    </div>

    <div class="form-row">
      <label>Stripe:</label>
      <app-input-lib icon="fab fa-cc-stripe">
        <input placeholder="Stripe">
      </app-input-lib>
    </div>

    <div class="form-row">
      <label>Paypal:</label>
      <app-input-lib icon="fab fa-paypal">
        <input placeholder="Paypal">
      </app-input-lib>
    </div>



  </div>
</body> -->
