<div class="container">
  <button (click)="storeItems()">Store</button>
  <hr>
  <form class="form-group" (ngSubmit)="addItem(f)" #f="ngForm">
    <input ngModel name="name" type="text" placeholder="სახელი" class="form-control">
    <input ngModel name="skill" type="text" placeholder="თვისება" class="form-control">
    <button type="submit" class="btn btn-outline-primary">ADD</button>
  </form>
  <hr>



  <div  class="card mt-3" *ngFor="let item of (mainList | async).mainList; let i = index">
    <div class="card-header">
      *New
    </div>
    <button class="btn btn-outline-danger" (click)="onDelete(i)">Delete</button>
    <div class="card-body" *ngIf="!edit">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.skill}}</p>
    </div>
    <div *ngIf="edit" class="mt-3 mb-3">
      <form class="form-group" (ngSubmit)="onSave(f, i)" #f="ngForm">
        <input ngModel name="name" type="text" placeholder="სახელი" class="form-control">
        <input ngModel name="skill" type="text" placeholder="თვისება" class="form-control">
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </form>
    </div>
    <button class="btn btn-outline-warning" (click)="onEdit(element)">{{edit ? 'Back' : 'Edit'}}</button>
  </div>



</div>
