<h2 class="lead">Input Mask Example</h2>
<div class="container mt-3 form-grpup">
  <label>Phone:</label>
  <input au-mask="(999) 999-9999" type="text" class="form-control">
  <label>International Phone number:</label>
  <input au-mask="+99 999 99 99 99" type="text" class="form-control">
  <label>Credit card:</label>
  <input au-mask="9999 9999 9999 9999" type="text" class="form-control">
  <label>VAT Number:</label>
  <input au-mask="AA-9999 9999 9999 9999" type="text" class="form-control">
  <label>Date:</label>
  <input au-mask="39/19/9999" type="text" class="form-control">
  <label>Text:</label>
  <input value="ABCD" type="text" class="form-control">
</div>
