button {
  outline: none;
  background: antiquewhite;
  cursor: pointer;
  padding: .5em;
  font-size: 1.5em;
  border: none;
  border-radius: .4em;
  color: burlywood;
  &:hover {
    background: aliceblue;
  }
  &:active {
    background: azure;
  }
}
